@import "tailwindcss";

@theme {
  --breakpoint-xs: 24rem;
  --breakpoint-3xl: 120rem;
}

body {
  font-family: sans-serif;
  background-color: var(--color-zinc-900);
}


@keyframes slide {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0);
  }
}